{% extends 'page.html' %}

{% block subtitle %}{{ _('Logging you in across domains...') }}{% endblock %}

{% block primary_content %}
  {# FIXME: revise copy??? #}
  <p>{{ _('This site needs to have popups allowed to be able to log you in to all relative domains.') }}</p>
{% endblock %}

{%- block styles %}
  {{ super() }}
  {% asset 'language_domain_assets/css' %}
{% endblock %}

{%- block scripts %}
  {{ super() }}
  <script>
    const SESSION_USER = '{{- g.user -}}';
    const SESSION_TOKEN = '{{- token -}}';
    const DOMAIN_SCHEME = '{{- domain_scheme -}}';
    const TRUSTED_LANG_DOMAINS = {{- trusted_domains|tojson -}};
    const LANGUAGE_DOMAINS = {{- language_domains|tojson -}};
    const LOGIN_REDIRECT = '{{- redirect -}}';
  </script>
  {% asset 'language_domain_assets/js_login_sender' %}
{% endblock -%}